body {
  background-image: url("../public/—Pngtree—simple aesthetic background with hand_1984683.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
